@charset "UTF-8";
@import url(./normalize.css);
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&subset=cyrillic");
@font-face {
  font-family: 'Gagalin';
  src: url("./Gagalin-Regular.woff") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'Gagalin Regular';
  src: url("./Gagalin-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'Lifehack Medium';
  src: url("./Lifehack-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'Lifehack-Medium';
  src: url("./Lifehack-Medium.woff") format("opentype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'Ubuntu';
  src: url("./Ubuntu-Medium.woff") format("truetype");
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'Ubuntu';
  src: url("./Ubuntu-Light.woff") format("truetype");
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'Ubuntu';
  src: url("./Ubuntu-Bold.woff") format("truetype");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility; }
/*
@font-face {
	font-family: 'Ubuntu Medium';
	src: url('./Ubuntu-Medium.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'Ubuntu Light';
	src: url('./Ubuntu-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'Ubuntu Bold';
	src: url('./Ubuntu-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}
*/
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  font-weight: normal; }

body {
  margin: 0 auto;
  font-family: 'Ubuntu', sans-serif;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.wrapper {
  padding: 0;
  margin: 0;
  width: 100%;
  align-self: stretch;
  display: flex; }

section {
  background-color: black;
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0; }

h1 {
  font-family: 'Gagalin';
  font-size: 72px;
  margin: 30px 0 20px 10px;
  line-break: auto;
  text-transform: uppercase;
  color: #f9b43b; }

h2 {
  font-family: 'Lifehack-Medium';
  font-size: 62px;
  line-height: 1;
  margin: 20px 0 10px 10px;
  color: #ffffff; }

.container {
  margin: 0 auto;
  width: 960px; }

.btn {
  display: block;
  text-transform: uppercase;
  font-family: 'Ubuntu';
  font-weight: 300;
  font-size: 13px;
  line-height: 1.4;
  padding: 8px 15px;
  color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
  width: auto;
  align-self: flex-start; }

.arrow {
  position: absolute;
  width: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  bottom: 28px;
  padding: 0; }

.points {
  position: fixed;
  margin: 65px 46px 0 55px;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

.points__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin: 14px  5px;
  width: 7px;
  height: 7px;
  top: 0; }

.points__li a {
  top: 0;
  display: fixed;
  -ms-flex-item-align: center;
  align-self: center;
  width: 7px;
  height: 7px;
  width: 100%;
  margin: 5px;
  padding: 5px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 10px; }

.points__li a:hover {
  border: 1px solid #ffffff; }

.points__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  width: 7px;
  height: 7px; }

/*# sourceMappingURL=main.css.map */
.header {
  background-color: black;
  background-image: url("./../img/bg.jpg"); }

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-self: center;
  width: 100%;
  position: absolute; }

.header-menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row;
  align-self: center;
  height: 90px;
  margin: 0 auto;
  width: 960px; }

.logo {
  display: flex;
  padding: auto;
  margin-top: 10px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.logo a {
  display: block; }

.logo__img {
  margin: 0;
  padding: 10px 8px;
  height: 75px; }

.nav {
  display: flex;
  padding: 25px 8px; }

.nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 1.2; }

.nav__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0; }
  .nav__li a {
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 13px;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 1.2; }

.nav__li::after {
  content: "•";
  padding: 0 17px; }

.nav__li:last-of-type:after {
  display: none; }

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header__btn {
  background-color: #e45028;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: auto 10px; }

.header__btn:hover {
  background-color: #c1401e; }

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%; }

.header-container__block {
  margin-top: -16px;
  width: 960px;
  display: flex;
  align-items: center;
  justify-items: center; }

.header-container__item {
  max-width: 50%; }

.container__img {
  width: 455px;
  padding: 15px 10px;
  margin: -43px 10px 0 15px; }

.we {
  background-color: #ffffff;
  background-image: url("./../img/bg-we.jpg");
  display: flex;
  text-align: center;
  color: black;
  text-align: center;
  font-family: 'Ubuntu';
  font-size: 14px;
  line-height: 1.7; }

.we__container {
  margin: 0 auto;
  width: 960px;
  justify-content: center;
  align-self: center; }

.we__h1 h1 {
  margin: 10px 0 20px 0;
  color: black;
  text-align: center; }

.we__content {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-items: center;
  align-content: space-around; }

.we__benefits {
  flex: 1; }

.we h3 {
  margin: 40px 0 20px 0;
  color: black;
  text-align: center;
  font-family: 'Lifehack Medium';
  font-size: 22px; }

.team {
  background-color: #000000;
  background-image: url("./../img/bg-team.jpg");
  display: flex;
  flex-flow: row;
  justify-content: flex-end; }

.team__container {
  position: absolute;
  width: 49%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  right: 0;
  background-color: rgba(47, 50, 52, 0.9);
  margin: 0; }

.team__content {
  margin: 10px 75px 10px 97px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  font-size: 16px;
  align-self: center; }
  .team__content h1 {
    margin: -17px 0 0px; }

.team__h1 {
  margin: -29px 0 40px; }

.team-acco {
  margin: 0;
  list-style-type: none;
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  padding: 15px 0 10px; }

.team-acco__item {
  margin: 23px 0; }

.team-acco__trigger {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: 'Gagalin';
  font-size: 14px;
  line-height: 1.4;
  padding: 4px 0;
  text-transform: uppercase; }

.team-acco__trigger-active {
  color: #f9b43b; }

.team-acco__trigger:before {
  content: "";
  height: 0;
  width: 0;
  border: 4px solid transparent;
  border-top: 6px solid #f9b43b;
  border-bottom-width: 0px;
  margin-right: 12px; }

.team-acco__trigger-active:before {
  border: 4px solid transparent;
  border-bottom: 6px solid #f9b43b;
  border-top-width: 0px; }

.team-acco__content {
  display: flex;
  flex-flow: row;
  padding: 10px 15px;
  overflow: hidden; }

.team-acco__pic {
  padding: 0;
  margin-right: 23px; }

.team-acco__text {
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-self: center; }

.team-acco__text-title {
  font-weight: 500;
  margin: -8px 0 11px 0; }

.menu {
  background-color: #000000;
  background-image: url("./../img/bg-menu.jpg");
  display: flex;
  flex-flow: row;
  justify-content: flex-end; }

.menu__container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0; }

.menu__header {
  flex: 1; }

.menu__h1 {
  margin: 91px 0 40px 96px;
  color: #ffffff; }

.menu__acco {
  padding-inline-start: 0;
  display: flex;
  justify-items: flex-end;
  align-items: stretch;
  margin: 0;
  max-width: 71%; }

.menu-acco__item {
  display: flex;
  align-self: flex-start;
  flex-flow: row;
  justify-self: flex-end;
  color: #ffffff;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  min-width: 80px;
  margin: 0; }

.menu-acco__visible {
    /*
transform: rotate(-90deg);*/
  display: flex;
  transform: rotate(-180deg);
  writing-mode: vertical-lr;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
  max-width: 80px;
  background-size: cover; }

.menu-acco__label {
  padding: 40px 0 40px 8px;
  font-family: 'Gagalin';
  font-size: 40px; }

.menu-acco__text {
  display: none;
  padding: 35px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.9;
  color: #ffffff; }

.menu-acco__item-active .menu-acco__text {
  display: block; }
.menu-acco__item-active .menu-acco__label {
  color: #f9b43b; }

.reviews {
  background-color: #000000;
  display: flex;
  flex-wrap: wrap; }

.reviews__ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0; }

.reviews__block {
  display: flex;
  width: 25%;
  height: 50%;
  background-size: cover;
  background-position: no-repeat;
  filter: grayscale(100%); }

.review__content {
  padding: 0 20px;
  overflow: hidden;
  background-color: rgba(20, 20, 20, 0.7);
  height: 100%;
  opacity: 0;
  color: #ffffff;
  font-family: 'Ubuntu';
  font-size: 14px;
  font-weight: 300;
  line-height: 1.8;
  display: flex;
  flex-direction: column; }

.reviews__block:hover .review__content {
  opacity: 1; }

.review__content h5 {
  margin: 40px 0 20px;
  font-family: 'Gagalin Regular';
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.5; }

.reviews__btn {
  margin-top: 15px;
  background-color: #2f3234;
  align-self: flex-start; }

.reviews__btn:hover {
  background-color: #1f2122; }

.form {
  background-color: #000000;
  background-image: url("./../img/bg-form.jpg");
  display: flex;
  align-content: center;
  flex-flow: column;
  justify-content: center; }

.form__header {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 10px; }

.form__content {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap; }

.form__left {
  display: flex;
  width: 50%;
  justify-content: stretch;
  flex-direction: column; }

.form__right {
  display: flex;
  width: 50%;
  justify-content: stretch;
  flex-direction: column; }

.form__row {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 7px 12px; }

.form__row-input {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 7px 12px 12px 12px; }

.form__row-button {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0; }

.form__block-title {
  color: #fff;
  text-align: left;
  font-family: 'Ubuntu';
  font-size: 14px;
  line-height: 1.8; }

.form__input {
  border-radius: 5px;
  border: 3px solid #ffffff;
  padding: 6px 0px;
  width: 100%;
  outline: none;
  display: flex;
  vertical-align: top; }

.form__input:focus {
  border: 3px solid #f9b43b;
  outline: none;
  outline-offset: 0; }

.form__input-comment {
  height: 91px; }

.form__block {
  flex: 1;
  margin-right: 20px; }
  .form__block:last-child {
    margin-right: 0; }

.form__radio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.form-radio__cont {
  margin-right: 10px;
  background-color: aqua;
  display: flex;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

.form-radio__check {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  margin-right: 10px; }

.form-radio__check:after {
  content: '';
  display: block;
  width: 7px;
  height: 7px;
  background-color: #e35028;
  border-radius: 60%;
  opacity: 0;
  position: absolute;
  top: 4px;
  left: 4px; }

input[type="radio"]:checked + .form-radio__check:after {
  opacity: 1; }

.form-radio__check-checkbox {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 2px;
  position: relative;
  margin-right: 10px; }

.form-radio__check-checkbox:after {
  content: '';
  display: block;
  width: 5px;
  height: 7px;
  border-right: 3px solid #e35028;
  border-bottom: 3px solid #e35028;
  background-color: #ffffff;
  transform: rotate(45deg);
  opacity: 0;
  position: absolute;
  top: 1px;
  left: 3px; }

input[type="checkbox"]:checked + .form-radio__check-checkbox:after {
  opacity: 1; }

.form__btn {
  display: flex;
  background-color: #e45028;
  align-self: flex-start;
  justify-self: start;
  margin: 0 12px;
  font-weight: 500; }

.form__btn-del {
  display: block;
  text-transform: uppercase;
  font-family: 'Ubuntu';
  font-weight: 300;
  font-size: 13px;
  line-height: 1.4;
  padding: 8px 15px;
  color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
  width: auto;
  align-self: flex-start; }

.contacts {
  background-color: #000000;
  background-image: url("./../img/bg-contacts.jpg");
  display: flex;
  align-content: flex-end;
  flex-flow: column;
  justify-content: flex-end; }

.cont-footer {
  display: flex;
  flex-flow: row;
  align-content: space-around;
  background-color: #000000; }

.cont-footer__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 80px; }

.cont-footer__tlf {
  display: flex;
  flex-direction: row;
  margin: 7px 15px 3px 0; }

.cont-footer__text {
  color: #ffffff;
  font-family: 'Ubuntu';
  font-size: 13px;
  font-weight: 500;
  margin: 7px 0 3px 0; }

.cont-footer__call {
  display: block;
  color: #e35028;
  text-decoration: none;
  font-family: 'Ubuntu';
  font-size: 14px;
  font-weight: 700;
  padding-left: 10px;
  line-height: 1.1; }

.cont-footer__right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0 80px; }

.cont-footer__social {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-content: center; }

.cont-footer__logos {
  display: flex;
  margin-left: 20px; }

.cont-footer__icon {
  fill: #404040;
  width: 25px;
  height: 20px; }

.cont-footer__icon:hover {
  fill: #ffffff; }

/*# sourceMappingURL=main.css.map */
